.header-img {
  background-image: url("../images/foods1.jpg");
  height: 300px;
  text-align: center;
  color: teal;
  font-weight: bolder;
  font-size: 500%;
}
#slogan {
  font-size: 50%;
  font-style: italic;
  color: white;
}
.panel-footer {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
table,th,td {
  border: 1px solid black;
  height: 50px;
  text-align: center;
}
td {
  height: 100px;
  width: 1000px;
  text-align: center;
  font-size: 150%;
}
th {
  font-size: 200%;
}
#menus {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}
